@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Balsamiq Sans';
}

.nav-menu {
	width: 98% !important;
}
.nav-menu a {
	font-weight: normal;
	font-family: Poppins;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
}

.nav-menu a:hover {
	cursor: pointer;
}

.nav-menu a:visited,
a:focus {
	color: black;
	font-weight: 800;
}
.navbar {
	background-color: #c4c4c4;
	flex: 50%;
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
}
.navbtn {
	padding: 10px 40px 10px 40px;
	border: transparent;
	margin-left: 10%;
	border-radius: 9px 9px;
	font-family: 'Balsamiq Sans';
}
.nav-img {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 80px;
	height: auto;
}

.navbar .rightside {
	flex: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 30px;
}
.navtext {
	margin-right: 5px;
	font-family: 'Balsamiq Sans';
	font-weight: bold;
	text-transform: capitalize;
	font-size: 1.2em;
	color: black;
}
.navtext:hover {
	cursor: pointer;
}

.drop1 > .menu {
	background-color: #c4c4c4 !important;
	padding: 10px !important;
}
.drop1 > .menu > .item {
	font-weight: normal;
	font-family: Poppins;
	font-size: 16px;
	line-height: 24px;
}
.drop1 {
	font-weight: normal;
	font-family: Poppins;
	font-size: 16px;
	line-height: 24px;
}

.drop2 > .menu {
	background-color: #c4c4c4 !important;
	padding: 10px 10px 10px 10px !important;
}
.drop2 > .menu > div {
	font-weight: normal;
	font-family: Poppins;
	font-size: 16px;
	line-height: 24px;
}
/* hero text*/
.hero {
	display: grid;
	grid-template-columns: repeat(2, 700px);
	grid-column-gap: 230px;
}
.hero .heroText {
	margin-top: 130px;
	margin-left: 100px;
	font-family: 'Balsamiq Sans';
	font-weight: bold;
	font-size: 3rem;
	width: 600px;
}

/* form*/
form {
	margin-top: 80px;
	margin-left: 50px;
}
input[type='text'],
input[type='email'],
input[type='password'],
select {
	background-color: rgba(150, 144, 144, 0.849) !important;
	width: 50% !important;
	border-radius: 9px 9px !important;
	padding: 10px !important;
}

.nextBtn {
	padding: 1em 7em 1em 7em;
	font-size: 1.3em;
	border-radius: 1.3em 1.3em;
	border: transparent;
	background-color: rgba(150, 144, 144, 0.849);
	font-family: 'Balsamiq Sans';
	font-weight: bold;
}

.checkbox-cont {
	width: 50%;
}

.checkbox {
	margin-bottom: 10px;
}

/* next page */
.labelTxt {
	width: 44%;
	font-size: 1.3em !important;
	line-height: 25px;
}
.downloadBtn {
	padding: 0.8em 2em 0.8em 2em;
	font-size: 1em;
	border-radius: 0.6em 0.6em;
	border: transparent;
	background-color: rgba(102, 97, 97, 0.849);
	margin-left: 7em;
	color: white;
	font-family: 'Balsamiq Sans';
	font-weight: bold;
}
.form-field input[type='placeholder'] {
	color: rgb(0, 0, 0) !important;
}
.form-cont input,
select {
	width: 50% !important;
}
.registerBtn {
	padding: 1em 7em 1em 7em;
	font-size: 1.3em;
	border-radius: 1.3em 1.3em;
	border: transparent;
	background-color: rgba(150, 144, 144, 0.849);
	margin-left: 54em;
	font-family: 'Balsamiq Sans';
	font-weight: bold;
}

/* login page*/
.login-form {
	margin-top: 10em;
	width: 100%;
}
.hero-login {
	display: grid;
	grid-template-columns: repeat(2, 700px);
	grid-column-gap: 230px;
}
.hero-login .heroText {
	margin-top: 130px;
	margin-left: 100px;
	font-family: 'Balsamiq Sans';
	font-weight: bold;
	font-size: 3rem;
	width: 600px;
}
.loginBtn {
	margin-left: 5px;
	padding: 1em 7em 1em 7em;
	font-size: 1.3em;
	border-radius: 1.3em 1.3em;
	border: transparent;
	margin-top: 5%;
	background-color: rgba(150, 144, 144, 0.849);
	font-family: 'Balsamiq Sans';
	font-weight: bold;
}

/*resources page*/
.navbar .nav-menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 30px;
}

.navbar a {
	color: black;
	cursor: default;
}

.navbar .fa-bell,
.fa-user-circle {
	font-size: 1.4em;
}

.second-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin-left: 20px;
}

.second-menu > a {
	color: black;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	margin-top: 10px;
}

.second-menu > a:visited {
	color: #000000;
	font-weight: 800;
}

.second-menu > a:focus {
	color: #000000;
	font-weight: 800;
}

.search-box {
	text-align: center;
}

.search-box > .input {
	width: 40% !important;
}

.search-box input[type='text'] {
	padding: 15px !important;
	background-color: rgb(236, 236, 236) !important;
	border-radius: 19px 19px !important;
	border: 0px rgb(236, 236, 236);
	box-shadow: 0px 7px 7px 7px rgb(211, 210, 210);
}
.search-box input[type='text']:focus {
	box-shadow: 0px 7px 7px 7px rgb(211, 210, 210);
}
.or-text {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 20px;
}

.other-text {
	text-align: center;
}
.heading {
	margin-left: 20px;
}

.center-text {
	height: 116px;
	width: 622px;
	font-family: Fredoka One;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
	margin-left: 430px;
	margin-top: 100px;
}
/* card */
.card-cont {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 70px;
	width: 100%;
	overflow-y: scroll;
}

.card {
	height: 375px !important;
	width: 360px !important;
	background: #c4c4c4 !important;
	border-radius: 20px 20px 20px 20px !important;
	overflow: hidden;
	margin-left: 50px !important;
	margin-bottom: 30px !important;
}

.card img {
	height: 254px !important;
	width: 360px !important;
	left: 0px;
	top: 0px;
	border-radius: 20px 20px 0px 0px !important;
}

.heading {
	margin-top: 20px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
}
.date {
	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: black;
}

.description {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: black !important;
}
/* rescorces */
.resource-holder {
	margin-top: 20px;
	display: flex;
}

.resource-card {
	width: 303px;
	height: 350px;
	margin-left: 20px;
	background: #c4c4c4;
	border-radius: 15px;
}
.card-img {
	height: 213px;
	width: 301px;
	border-radius: 20px 20px 0px 0px;
}

.subhead {
	font-family: 'Poppins';

	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	margin-left: 20px;
	font-size: 1.2em;
}
.download-res {
	background: #c4c4c4;
	border: 1px solid #000000;
	width: 100px;
	padding: 10px 25px 10px 20px;
	margin-top: 40px;
	margin-left: 190px;
	border-radius: 15px;
}
/*home */
.headerTxt {
	font-family: 'Fredoka One';
	font-style: normal;
	font-weight: normal;
	font-size: 54px;
	line-height: 65px;
	margin-top: 60px;
	margin-left: 70px;
}

.subText {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	margin-left: 70px;
}

.card-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 50px;
}

.card-1 {
	width: 402px;
	height: 132px;
	background: #c4c4c4;
	border-radius: 11px;
}

.card-head {
	margin-top: 20px;
	margin-left: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}

.inside-text {
	margin-top: 5px;
	margin-left: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.list-Text {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	margin-left: 70px;
}

.list-items {
	margin-left: 100px;
	font-size: 1.4em;
	font-weight: 300;
	font-family: 'Poppins';
	width: 409px;
}

.list-items li {
	margin-top: 15px;
}

.resources-text {
	margin-top: 40px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	margin-left: 70px;
}

.resources-cont {
	display: flex;
	flex-direction: row;
}

.resource-1 {
	width: 365px;
	height: 305px;
	background: #c4c4c4;
	border-radius: 11px;
	margin-left: 70px;
}

/* askQuestion */

.centerTxt {
	width: 652px;
	height: 94px;
	margin-top: 20vh;
	margin-left: 30vw;
	font-family: Fredoka One;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	line-height: 47px;

	color: #000000;
}

.counselorTxt {
	width: 583.41px;
	height: 45px;
	margin-top: 50vh;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 45px;
	/* identical to box height */

	color: #000000;
}

.counselor-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 10px;
	width: 100%;
}
.profiles {
	height: 196px;
	width: 500px;
	left: 0px;
	top: 0px;
	border-radius: 20px;
	margin-right: 10px;
	background: #c4c4c4;
}

.profile-pic {
	height: 147px;
	width: 147px;
	margin-top: 30px;
	margin-left: 20px;
	border-radius: 0px;
}

.profile-name {
	float: right;
	margin-top: 50px;
	margin-right: 110px;
	font-family: Poppins;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

.work {
	height: 48px;
	width: 240px;
	margin-right: 10px;
	float: right;
	margin-top: -80px;
}

.experience {
	float: right;
	height: 24px;
	width: 274px;
	margin-top: -25px;
	margin-right: -20px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 24px;
	color: black;
}

.progress-cont {
	margin-top: 20px;
	width: 339px;
	height: 264px;
	background: rgba(196, 196, 196, 0.001);
	border: 2px solid rgba(0, 0, 0, 0.2);
	margin-left: 20px;
	border-radius: 19px;
}
.progress-bar {
	margin-top: 20px;
	margin-left: 80px;
	margin-right: auto;
	width: 170px !important;
}

.progress-header {
	font-family: Poppins;
	font-weight: 800;
	color: #000000;
	font-size: 18px;
	margin-left: 30px;
	margin-top: 30px;
}

.progress-header1 {
	font-family: Poppins;
	font-weight: 800;
	color: #000000;
	font-size: 18px;
	margin-left: 60px;
	margin-top: 30px;
}

.other-progress {
	float: right;
	margin-top: -265px;
	margin-right: 600px;
	width: 339px;
	height: 264px;
	background: rgba(196, 196, 196, 0.001);
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 19px;
}

/*searchpage*/
.leftContent > .header-left {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	/* identical to box height */

	color: #000000;
	margin-top: 80px;
	margin-left: 10px;
}

.leftSelect {
	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	color: #000000;
	margin-left: 10px;
}

.leftSelect > .fa-chevron-down {
	margin-left: 30px;
}
.search-box1 {
	text-align: center;
	margin-top: -1380px;
	margin-left: 20px;
}

.search-box1 input[type='text'] {
	border-radius: 20px;
	padding: 15px !important;
	background-color: rgb(236, 236, 236) !important;
	border-radius: 19px 19px !important;
	border: 0px rgb(236, 236, 236);
	box-shadow: 0px 7px 7px 7px rgb(211, 210, 210);
}
.search-box1 > .input {
	width: 60% !important;
}

.search-box2 {
	margin-left: 5px;
}

.search-box2 input[type='text'] {
	border-radius: 20px;
	padding: 15px 65px 15px 10px !important;
	background-color: rgb(236, 236, 236) !important;
	border-radius: 19px 19px !important;
	border: 0px rgb(236, 236, 236);
}

.countries {
	margin-top: 20px;
	height: 35px;
	max-width: 131px;
	border-radius: 50px;
	font-family: Poppins;
	font-weight: 800;
	border: 5px black;
	padding: 10px;
	background-color: #c4c4c4;
	margin-left: 10px;
	text-align: center;
}

.leftSelect1,
.leftSelect2,
.leftSelect3,
.leftSelect4,
.leftSelect5 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	color: #000000;
	margin-left: 10px;
	height: 24px;
	width: 230px;
}

.leftSelect1 > i {
	margin-left: 150px;
}

.leftSelect2 > i {
	margin-left: 62px;
}

.leftSelect3 > i {
	margin-left: 88px;
}

.leftSelect4 > i {
	margin-left: 100px;
}

.leftSelect5 > i {
	margin-left: 140px;
}

.sort-drop {
	position: absolute;
	width: 204px;
	height: 41px;
	left: 1135px;
	top: 180px;
	background: #c4c4c4 !important;
	border-radius: 7px !important;
}

.sort-drop > .dropdown > .menu {
	background: #c4c4c4 !important;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}
.category {
	margin-top: 40px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	color: #000000;
	margin-left: 285px;
}

.search-card {
	position: relative;
	height: 164px;
	width: 1046px;
	left: 285px;
	top: 10px;
	border-radius: 17px;
	background: rgba(196, 196, 196, 0.001);
	border: 1px solid rgba(0, 0, 0, 0.3);
	float: left;
	margin-bottom: 20px;
}

.university-name {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	display: block;
	color: #000000;
	float: right;
	margin-right: 600px;
	margin-top: 10px;
}
.university-name2 {
	margin-right: 510px;
}
.course-2 {
	margin-right: 500px;
}
.university-rankings {
	position: absolute;
	top: 5px;
	left: 5px;
	background: #c4c4c4;
	border-radius: 11px 5px 5px 5px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	padding: 5px 10px;
	color: #000;
}
.location-name {
	margin-top: -115px;
	margin-right: 535px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */
	color: rgba(0, 0, 0, 0.8);
	float: right;
}

.location-name > i {
	margin-right: 10px;
}

.fav-card {
	width: 212px;
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 8px 15px 8px 15px;
	background: #c4c4c4;
	border-radius: 17px 12px 17px 17px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	color: #000000;
}

.fav-card > i {
	margin-right: 15px;
}

.course-fees {
	margin-top: -65px;
	margin-right: 430px;
}

.course-fees,
.date-details {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	color: #000000;
	float: right;
}

.date-details {
	margin-left: 30px;
}

.university-rating {
	float: right;
	margin-top: -30px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	color: #000000;
	margin-right: 750px;
}

.category2 {
	margin-top: 600px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	color: #000000;
	margin-left: 280px;
}

/* university details */

.university-bg {
	margin-top: 0px;
}

.backTo {
	position: absolute;
	bottom: 450px;
	left: 10px;
	background: #c4c4c4;
	border-radius: 10px 10px 5px 5px;
	border: transparent;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 20px 10px 20px;
	color: #000000;
}
.backTo:hover {
	cursor: pointer;
}

.backTo > i {
	margin-right: 10px;
}

.intials {
	margin-left: 10px;
}
.intials > h1 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 72px;

	color: #000000;
}

.intials > .intials-location {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 60px;
}

.intials-location > i {
	margin-right: 10px;
}

.addTo {
	width: 212px;
	position: absolute;
	bottom: 0px;
	right: 200px;
	padding: 10px 15px 10px 15px;
	background: #c4c4c4;
	border-radius: 17px 12px 17px 17px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	color: #000000;
}

.addTo > i {
	margin-right: 15px;
}

.apply-btn {
	background: #c4c4c4;
	border-radius: 20.3333px 14.3529px 20.3333px 20.3333px;
	position: absolute;
	bottom: 0px;
	right: 20px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 19.1373px;
	line-height: 29px;
	/* identical to box height */
	position: fixed;
	color: #000000;
	padding: 10px 20px 10px 20px;
	border: transparent;
}
.detailed-content {
	margin-left: 15px;
}

.detailed-content > h2 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 42px;
	/* identical to box height */
	margin-bottom: 50px;
	color: #000000;
}

.detailed-content > .more-details {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	height: 260px;
	width: 1097px;

	color: #000000;
}

.column > h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 47.8006px;
	line-height: 50px;
	/* identical to box height, or 117% */

	letter-spacing: 0.298753px;
	margin-left: 30px;
	color: #b82323;
}

.column > p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 23.9003px;
	line-height: 30px;
	/* identical to box height, or 233% */
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	letter-spacing: 0.298753px;

	color: #000000;
}

.selector-menu {
	display: flex;
	justify-content: space-around;
	width: 70%;
	background-color: rgb(245, 245, 245);
	margin-left: 20px;
	border-radius: 12px;
	box-shadow: 0px 7px 7px 7px rgb(211, 210, 210);
	margin-bottom: 60px;
}
.selector-menu > .menu-items {
	padding: 15px 20px 5px 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}

.selector-menu > .menu-items > .item-heading1 {
	margin-bottom: 0px;
	width: 90px;
	font-family: Roboto;
	font-weight: 500;
	font-size: 1.1em;
	color: black;
}
.selector-menu > .menu-items > .cost-item1 {
	margin-top: 0px;
	font-family: Roboto;
	color: #b82323;
	font-weight: 600;
	font-size: 1.2em;
}

.selector-menu > .menu-items > .item-heading {
	margin-bottom: 0px;

	font-family: Roboto;
	font-weight: 500;
	font-size: 1.1em;
	color: black;
}
.selector-menu > .menu-items > .cost-item {
	margin-top: 0px;
	font-family: Roboto;
	color: gray;
	font-weight: 600;
	font-size: 1.5em;
}

.details-card {
	margin-right: 120px;
	margin-top: 50px;
}
.details-card .details-column {
	height: 240px;
	width: 200px;
	background: linear-gradient(
			147.42deg,
			rgba(64, 72, 93, 0.4) 6.32%,
			rgba(96, 106, 130, 0.4) 92.25%
		),
		linear-gradient(128deg, #e6e7ed -79.65%, #f7f8fa 151.25%);
	background-blend-mode: soft-light, normal;
	box-shadow: -7px -7px 16px #fafbfc, 4px 3px 19px #bdc1d1,
		inset -1px -1px 16px #f5f6fa, inset 1px 1px 16px #e9eaf2;
	border-radius: 18px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.details-card .details-column > p {
	margin-top: 80px;
	margin-left: 50px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */

	color: #000000;
}

.address {
	margin-left: 20px;
}
.address > p {
	float: right;
	margin-right: 330px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */

	color: #000000;
}
